extends ../../layouts/default
include ../../mixins/box-head
include ../../mixins/product-layout

block main
  h1 Trang chu   

  .section-products-featured.my-5 
    .container.my-3
      .row
        .col-12
          +box-head("San pham noi bat")

      +product-grid(productsFeatured)

  .section-products-new.my-5 
    .container.my-3
      .row
        .col-12
          +box-head("San pham moi nhat")

      +product-grid(productsNew)
